.products_img{
    width:100px;
  }
  
  .nav-container{
      height: 60px;
      /* background-color: rgb(212, 249, 255); */
  }
  .nav-wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
   }
  
  .nav-left{
      flex:1;
      cursor: pointer;
      /* text-align: center; */
  }
  .nav-center{
      flex:1;
  }
  .nav-right{
      flex:1;
      align-items: center;
      display: flex;
      justify-content: flex-end;
  }
  .nav-left h1{
      font-weight: bold;
  }
  .search-container {
      border: 0.5px solid lightgray;
      align-items: center;
      display: flex;
      /* margin-left: 25px; */
      padding: 5px;
      justify-content: space-between;
  }
  .nav-menu {
      font-size: 14px;
      cursor: pointer;
      margin-left: 25px;
  }
  .login-error {
      border:1px solid red;
      outline:2px solid red;
  }
  .footer-container {
    display: flex;
  }
  .footer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .footer-desc{
    margin: 20px 0px;
  }
  .footer-social{
    display: flex;
  }
  .footer-center{
    flex: 1;
    padding: 20px;
  }
  .footer-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-right{
    flex: 1;
    padding: 20px;
  }
  .footer-contact{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  @media only screen and (max-width:500px) {
      .footer-container{
        flex-direction: column;
      }
      .footer-center{
          display: none;
      }
      .footer-right{
          background-color: #fff8f8;
      }
      
  }
  .filter-container {
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
  }
