*{
  margin:0;
  padding:0;
  box-sizing:border-box;
 
  

}
body{
  font-size:16px;
  margin-left:12vw;
  margin-right:12vw;
  
}
.men_card, .women_card, .jewelry_card, .electronics_card{
  display:grid;
}
.products_card{
  
  margin-left: 2em;
  margin-right:2em;
  justify-content: center;
  text-align: center;
  align-items: center;
  

}
.container{
  position:relative;
  grid-row-start: 2 ;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end:1;
  align-items:center;
  justify-content: center;
  /* max-width:1200px; */
  max-width: 100%;
  
  display:flex;
  border:2px solid black;
  flex-wrap:wrap;
 
}
.row{
 
  max-width: 23rem;
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

 
  
}
.col-md-12{
  
  text-align:center;
  
 width:140px;
}
.products_img{
  width:50px;
}

.filter_by_price_button{
  
  position:relative;
  width:100px;
  grid-row-start: 1 ;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end:1;
  
}

.filter_button{
  margin-top:6px;
  margin-bottom:6px;
  margin-left:2px;
  width:130px;
  height:30px;
  background-color:rgb(53, 53, 53);
  color:white;
  text-transform:uppercase;
  padding:2px;
  border-radius:100px;
  transition:all .2s;
}
.filter_button:hover{
  transform:translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.filter_button:active{
  transform:translateY(-1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
.filter-btn{
  margin-top:6px;
  margin-bottom:6px;
  margin-left:2px;
  width:130px;
  height:30px;
  background-color:rgb(53, 53, 53);
  color:white;
  text-transform:uppercase;
  padding:2px;
  border-radius:100px;
  transition:all .2s;

}
.add_to_cart_btn{
   margin-top:6px;
  margin-bottom:6px;
  margin-left:2px;
  width:130px;
  height:30px;
  background-color:rgb(255, 255, 255);
  color:rgb(3, 2, 2);
  
  padding:2px;
  border-radius:3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  transition:all .2s;
}
.add_to_cart_btn:hover{
transform:translateY(-2px);
box-shadow: 0 13px 15px rgba(0, 0, 0, .2);


}
.add_to_cart_btn:active{
  transform:translateY(-1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
.overlay{
  position:absolute;


  background-color: rgb(255, 255, 255);
  left:500px;
  width:300px;;
  height:auto;
  border:solid black 1px;
  
}

.single_img{
  width:30%;
}

.overlay{
  color:rgb(80, 80, 80);
  font-size: larger;
  width:50%;
  position:fixed;
  top:20%;
  left:33%;
 
  z-index:1;
  
}